
$body-background-color: #fff;
$sidebar-color: #f5f8fa;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color:  #27262b;
$body-heading-color: #27262b !default;
$link-color: #b43939;
$body-font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, roboto, noto, "segoe ui", arial, sans-serif !default;
