<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge"> 
<title>Octo CLI | Expose data from any database as web service.</title>
<link rel="apple-touch-icon" href="assets/favicon.svg">
<link href="https://fonts.googleapis.com/css?family=Inconsolata%7CMontserrat:400,700%7CRoboto:400,100,300,500" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="assets/application-d16137c38d5fdc182c5661e242df28d0316289eb66d1dbee4c6dbeda26b507a9.css">
<link rel="shortcut icon" type="image/png" href="assets/favicon.svg"/>

</head>
<body>
  <div class="header-border"></div>

<header>
  <a href="" title=" " class="header-logo">
    <img src="assets/cover.png" alt=" ">
  </a>
  <br>
  <h4>Expose data from any database as web service.</h4>
  <p>
    Octo CLI makes the data available from any database as a web service on-demand, 
    simplifying the process of building data-driven applications.
     It can reduce costs, improve accessibility and performance.
  </p>
 

 <div class="header-actions">
  <a href="" title=" "  class="header-img" >
    <img src="https://user-images.githubusercontent.com/20528562/92949687-2b627080-f464-11ea-99e8-d3afad80922c.png" alt=" ">
  </a>
  </div>
     <div class="header-actions">
    <a href="https://github.com/octoproject/octo-cli" class="button button-primary"  title="Documentation" onmousedown="ga('send', 'event', 'download', 'click', 'zip')">View on Github</a>
    <a href="https://github.com/octoproject/octo-cli#examples" class="button button-primary"  title="View on GitHub" onmousedown="ga('send', 'event', 'download', 'click', 'zip')">Get started</a>
  </div>
</header>
<main>
 
  <section >
    <div class="grid grid-centered">
      <div class="grid-cell with-6col">
        <div class="section-info is-centered">
          <h5 class="with-margin">Speed Development</h5>
              <p>
                Octo CLI is built to facilitate the process of creating data driven APIs to save time and effort by removing the need to create standalone service.
              </p>
        </div>
      </div>
      
       <div class="grid-cell with-6col">
        <div class="section-info is-centered">
          <h5 class="with-margin">Auto Scaling</h5>
              <p>
               With serverless frameworks supported by Octo CLI automatically scale your API to serve any size of the workload.
              </p>
        </div>
      </div>
      </section>

      
    
</main>


<footer>
  <div class="grid grid-centered">
    <div class="grid-cell">
    </div>
  </div>
</footer>


  <script async defer src="https://buttons.github.io/buttons.js"></script>


  <script>
    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','UA-28631876-2','auto');ga('send','pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>


</body>
</html>
